/* General Styling */
.body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #000000;
  color: #FFFFFF;
}

/* Header */
.header {
  position: fixed;
  top: 5px; /* Small gap between the top of the page */
  left: 50%;
  transform: translateX(-50%);
  background: #000; /* Gradient background */
  border-radius: 25px;
  width: 90%;
  padding: 5px 20px; /* Reduced padding for a smaller height */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  height: 70px; /* Set a fixed smaller height */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
}

/* Container for the logo and links */
.headerContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo container */
.logoContainer1 {
  display: flex;
  width: 50%;
  padding-top: 0;
}

/* Header links */
.headerLinks {
  display: flex;
  align-items: center;
}

/* Link to About Page */
.aboutLink,
.artistsLink {
  color: #54d2cf;
  font-size: 20px;
  margin-right: 40px; /* Slightly bigger margin for balance */
  text-decoration: none;
  font-weight: 500; /* Slightly bold */
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Hover effect for all links */
.aboutLink:hover,
.artistsLink:hover {
  color: #f1f1f1;
  transform: scale(1.1); /* Slight scaling effect */
}

/* Download button */
.downloadButton {
  padding: 10px 20px;
  background-color: #2e838b;
  border: none;
  border-radius: 20px;
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hover effect for Download button */
.downloadButton:hover {
  background-color: #f1f1f1;
  color: #2e838b;
  transform: scale(1.05); /* Slight scaling effect */
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px;
    height: auto;
  }

  .headerContent {
    flex-wrap: wrap;
    gap: 10px;
  }

  .logoContainer1 {
    width: auto;
  }

  .headerLinks {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .aboutLink,
  .artistsLink {
    font-size: 16px;
    margin-right: 5px;
  }

  .downloadButton {
    padding: 8px 15px; /* Smaller padding for compact layout */
    font-size: 14px;
    text-align: center;
  }
}


.heroSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 2rem;
  background: linear-gradient(
    135deg,
    #000000 0%,
    #2e838b 70%,
    #54d2cf 100%
  );
  color: #ffffff;
  flex-wrap: wrap; /* Allow wrapping */
}

.heroContent {
  flex: 1;
  margin-right: 2rem;
}

.heroContent h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

.heroContent .highlight {
  color: #a766f7;
}

.heroContent p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.heroImage {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.heroMockup {
  border-radius: 20px;
}

.ctaContainer {
  display: flex;
  justify-content: flex-start; /* Align button to the left */
  align-items: center; /* Vertically center the button */
  width: 100%;
  margin-top: -5rem;
  margin-bottom: 5rem;
}

.ctaButton {
  background-color: #54d2cf;
  color: #000000;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}
.ctaButton:hover {
  background-color: #2e838b;
}

.logo {
  display: block;
  margin-bottom: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Responsive Design (Mobile/Tablet) */
@media (max-width: 768px) {
  .heroSection {
    flex-direction: column; /* Stack sections vertically */
    padding: 3.5rem 1rem; /* Reduced padding for smaller screens */
  }

  .logoContainer {
    display: flex;
    justify-content: center;
    max-width: 80%; /* Limit the width of the logo */
    margin-top: 3rem; /* Reduced top margin to decrease space */
    margin-bottom: 0; /* Reduce space between the logo and the title */
  }

  .logo {
    width: 100%;
    max-width: 300px; /* Limit the logo size */
    height: auto; /* Ensure the logo scales correctly */
  }

  .heroContent {
    margin-right: 0; /* Remove right margin */
    text-align: center; /* Center text */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; /* Adds spacing between the elements */
  }

  .heroContent h1 {
    font-size: 1.8rem; /* Scale down the title */
  }

  /* Center the image */
  .heroImage {
    width: 80%; /* Limit the image width */
    display: block;
    margin: 1.5rem auto; /* Center the image horizontally and add vertical space */
    object-fit: contain; /* Ensure the image maintains its aspect ratio */
    max-height: 400px; /* Prevent distortion */
  }

  .heroMockup {
    width: 100%; /* Ensure the image scales down properly */
    max-width: 300px; /* Limit the image size */
    height: auto; /* Maintain aspect ratio */
    border-radius: 20px;
  }

  .heroContent p {
    font-size: 1rem; /* Adjust text size */
    margin-top: 1rem; /* Space between the image and the paragraph */
  }

  .ctaContainer {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Horizontally center the button */
    align-items: center; /* Vertically center the button */
    padding: 1rem 0; /* Add padding for spacing */
    width: 100%; /* Ensure the button container takes full width */
    margin-top: 5px;
    margin-bottom: 0.5rem;
  }

  .ctaButton {
    font-size: 1rem; /* Adjust font size */
    padding: 0.7rem 1.5rem; /* Smaller padding for a more compact button */
    text-align: center; /* Ensure button text is centered */
    display: inline-block; /* Make sure the button is inline */
    width: auto; /* Auto width so it's based on content */
  }
}



.aboutSection {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  margin-bottom: 2rem;
  height: 100vh; /* Full viewport height */
  color: #ffffff; /* Text color */
  background-size: cover;
  background-position: center;
}

.aboutGrid {
  display: flex;
  flex-direction: column; /* Ensure the text is stacked vertically */
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
  gap: 2rem; /* Space between elements */
  max-width: 1200px; /* Prevents content from getting too wide */
  padding: 2rem;
  width: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; /* Center the text inside the container */
  max-width: 600px;
}

.textContainer h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: #54D2CF; /* Highlight color */
}

.textContainer p {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}


/* Responsive Design (Mobile/Tablet) */
@media (max-width: 768px) {
  .aboutSection {
    height: 55vh; /* Reduced height for smaller screens */
  }

  .aboutGrid {
    flex-direction: column; /* Stack content in a single column */
    justify-content: center; /* Vertically center content */
    align-items: center; /* Horizontally center content */
  }

  .textContainer {
    font-size: 1rem;
    text-align: center; /* Ensure text is centered */
  }

  .textContainer h2 {
    font-size: 2rem; /* Smaller heading on mobile */
  }

  .textContainer p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

/* Features Section */
.featuresSection {
  padding-bottom: 14rem;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.featuresHeader {
  margin-bottom: 3rem;
}

.featuresHeader h2 {
  font-size: 2.5rem;
  color: #54D2CF;
}

.featuresHeader p {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #a3a3a3;
  max-width: 800px;
  margin: 0 auto;
}

.featureContent h3 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  color: #54D2CF; /* Highlight color */
}

/* Grid Layout */
.featuresGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default 3-column grid */
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
  height: 100%;
}

/* Feature Block */
.featureBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.featureBlock:hover {
  transform: translateY(-10px);
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .featuresSection {
    padding-bottom: 5rem;
  }
  
  .featuresHeader h2 {
    font-size: 2rem;
    color: #54D2CF;
  }
  
  .featuresHeader p {
    font-size: 1rem;
    line-height: 1.6;
    color: #a3a3a3;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .featureContent h3 {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    color: #54D2CF; /* Highlight color */
  }
  
  .featuresGrid {
    grid-template-columns: 1fr; /* Stack blocks vertically */
    gap: 1rem; /* Reduce gap between blocks */
    margin-left: 20px;
    margin-right: 20px;
  }

  .featureBlock {
    flex-direction: column;
    text-align: center;
    box-shadow: none; /* Remove hover effect */
    transition: none; /* Disable transition */
    border: 2px solid #54D2CF; /* Add border */
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(84, 210, 207, 0.5); /* Glowing border effect */
  }
}




/* Artists Section */
.artistsSection {
  padding: 120px 20px;
  text-align: center;
  background: linear-gradient(0deg, #000000 0%, #2e838b 50%, #54d2cf 100%);
  color: white;
}

.artistsSection h2 {
  font-size: 3rem;
  color: #FFFFFF;
  margin-bottom: 40px;
}

/* Slider Wrapper */
.artistSliderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.artistSlider {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  justify-content: space-between;
}

.artistCard {
  flex: 1;
  max-width: 25%; /* Adjust this for desktop to show 4 items */
  height: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 40px;
  transition: background-color 0.3s ease;
}

.artistCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  z-index: 1;
}

.artistCard:hover img {
  transform: scale(1.1);
}

.artistCard:hover {
  background-color: #54D2CF;
}

.artistOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(84, 210, 207, 0.5);
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 40px;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.artistCard:hover .artistOverlay {
  opacity: 1;
}

.artistOverlay p {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Navigation Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s ease;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.arrowLeft {
  left: 10px;
  color: white;
}

.arrowRight {
  right: 10px;
  color: white;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .artistsSection {
    padding: 100px 20px 100px;
  }
  .artistsSection h2 {
    font-size: 2rem;
  }
  .artistSlider {
    width: 300%; /* Set width of the slider to 3 times the card width */
    transition: transform 0.3s ease-in-out;
  }

  .artistCard {
    max-width: 100%;
    flex: 0 0 100%; /* Force each card to take full width */
  }

  .artistSliderWrapper {
    overflow: hidden;
  }

}
  


/* Testimonials Section */
.testimonialsSection {
  padding: 80px 20px;
  text-align: center;
  background: #000000; /* Pure black background */
  color: white;
  position: relative;
  overflow: hidden;
}

.testimonialsSection h2 {
  font-size: 2.5rem;
  color: #54D2CF;
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
}

.testimonialsGrid {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.testimonialCard {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #000000;
  border-radius: 50%; /* Circular card */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7); /* Subtle shadow for contrast */
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.8); /* Slight transparency for cards */
  z-index: 1;
}

.testimonialCard:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 50px rgba(0, 0, 0, 0.9), 0 0 30px #54d2cf; /* Add glow effect */
}

.testimonialContent {
  text-align: center;
  color: #ffffff;
}

.testimonialCard p {
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.6;
  margin-bottom: 1rem;
  transition: color 0.3s ease;
}

.testimonialCard h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #A766F7;
  transition: color 0.3s ease;
}

.testimonialCard:hover p {
  color: #54D2CF; /* Change quote color on hover */
}

.testimonialCard:hover h4 {
  color: #fff; /* Change name color on hover */
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .testimonialsSection h2 {
    font-size: 2rem;
  }
  .testimonialsGrid {
    flex-direction: column;
    align-items: center;
    gap: 4rem; /* Add gap between the cards */
  }

  .testimonialCard {
    width: 250px;
    height: 250px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7), 0 0 15px #54D2CF; /* Add shadow with #54D2CF color */
    pointer-events: none; /* Disable click functionality */
  }

  .testimonialCard p {
    color: #54D2CF; /* Set p color to #54D2CF on mobile */
  }

  .testimonialCard h4 {
    color: white; /* Set h4 color to white on mobile */
  }
}


/* CTA Section */
.ctaSection {
  padding: 80px 20px;
  text-align: center;
  background: #000000;
  color: #fff;
}

.ctaContent {
  max-width: 800px;
  margin: 0 auto;
}

.ctaSection h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.ctaSection p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
  color: #ccc;
}

.ctaButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.ctaButton {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.ctaButton {
  background-color: #54D2CF;
  color: #000;
}

.ctaButton:hover {
  background-color: #2e838b;
  color: #fff;
}

@media (max-width: 768px) {
  .ctaSection h2 {
    font-size: 2rem;
  }
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background-color: #000000;
}